{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          ">0.25%",
          "not ie 11",
          "not op_mini all"
        ]
      },
      "modules": false
    }]
  ],
  "plugins": ["transform-es2015-modules-commonjs",
    "@babel/proposal-class-properties"]
}
